In [2]:
import pandas as pd
import numpy as np

In [14]:
all_enrollment = pd.DataFrame(columns=['year', 'race', 'enrollment'])
start_year = 1998
end_year = 2021 + 1

for year in range(start_year, end_year):
    df = pd.read_csv(f'Cleaned Data/{year}_enrollment.csv')
    all_enrollment = pd.concat([all_enrollment, df])

In [15]:
all_enrollment

          year                                       race  enrollment
0   1998-01-01           American Indian or Alaska Native    11099186
1   1998-01-01                                      Asian     2579456
2   1998-01-01                                      Black    11233886
3   1998-01-01                                   Hispanic    10636146
4   1998-01-01                                      White    36724242
..         ...                                        ...         ...
2   2021-01-01                                      Black  14635934.0
3   2021-01-01                                   Hispanic  28330290.0
4   2021-01-01  Native Hawaiian or other Pacific Islander    412186.0
5   2021-01-01                          Two or more races   4633530.0
6   2021-01-01                                      White  44360226.0

[148 rows x 3 columns]

In [16]:
all_enrollment.to_csv(f'final_enrollment_data.csv', index=False)

In [17]:
all_enrollment[all_enrollment['enrollment'] < 0]

Empty DataFrame
Columns: [year, race, enrollment]
Index: []