In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(f'final_enrollment_data.csv')

In [3]:
df_2000 = df[df['year'] == '2000-01-01']
total_2000 = sum(df_2000['enrollment'])
df_2000['enrollment'] = df_2000['enrollment'] / total_2000
df_2000

/var/folders/s3/jrstqxb973db3gqjptn3m3nr0000gp/T/ipykernel_53664/3456215593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2000['enrollment'] = df_2000['enrollment'] / total_2000

         year                              race  enrollment
0  2000-01-01  American Indian or Alaska Native    0.011875
1  2000-01-01                             Asian    0.042772
2  2000-01-01                             Black    0.174881
3  2000-01-01                          Hispanic    0.185864
4  2000-01-01                             White    0.584608

In [4]:
sum(df_2000[df_2000['race'] != 'White']['enrollment'])

0.41539204189847945

In [5]:
df_2017 = df[df['year'] == '2017-01-01']
total_2017 = sum(df_2017['enrollment'])
df_2017['enrollment'] = df_2017['enrollment'] / total_2017
df_2017

/var/folders/s3/jrstqxb973db3gqjptn3m3nr0000gp/T/ipykernel_53664/2998991485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017['enrollment'] = df_2017['enrollment'] / total_2017

           year                                       race  enrollment
103  2017-01-01           American Indian or Alaska Native    0.010644
104  2017-01-01                                      Asian    0.051716
105  2017-01-01                                      Black    0.150802
106  2017-01-01                                   Hispanic    0.271738
107  2017-01-01  Native Hawaiian or other Pacific Islander    0.004289
108  2017-01-01                          Two or more races    0.038283
109  2017-01-01                                      White    0.472528

In [11]:
sum(df_2017[df_2017['race'] != 'White']['enrollment'])

0.5274720210878071

In [6]:
27+15+5+4+1

52