In [2]:
import pandas as pd
import numpy as np

In [18]:
all_enrollment = pd.DataFrame(columns=['year', 'race', 'enrollment'])
start_year = 2000
end_year = 2021 + 1

for year in range(start_year, end_year):
    df = pd.read_csv(f'Cleaned Data/{year}_enrollment.csv')
    all_enrollment = pd.concat([all_enrollment, df])

In [19]:
all_enrollment

          year                                       race  enrollment
0   2000-01-01           American Indian or Alaska Native      993858
1   2000-01-01                                      Asian     3579656
2   2000-01-01                                      Black    14636100
3   2000-01-01                                   Hispanic    15555302
4   2000-01-01                                      White    48926904
..         ...                                        ...         ...
2   2021-01-01                                      Black  14635934.0
3   2021-01-01                                   Hispanic  28330290.0
4   2021-01-01  Native Hawaiian or other Pacific Islander    412186.0
5   2021-01-01                          Two or more races   4633530.0
6   2021-01-01                                      White  44360226.0

[138 rows x 3 columns]

In [20]:
all_enrollment.to_csv(f'final_enrollment_data.csv', index=False)

In [21]:
all_enrollment[all_enrollment['enrollment'] < 0]

Empty DataFrame
Columns: [year, race, enrollment]
Index: []